.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 10rem;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #156499; /* #8a2b06; by #156499;  #5a1a01; by #053a5e; */
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #053a5e; /* #5a1a01; by #053a5e;*/
  border-color: #053a5e;
  color: white;
}

.actions .button--alt {
  color: #156499;
}

.actions .button {
  background-color: #156499;
  color: white;
}
