.hamburger {
  width: 2rem;
  height: 2rem;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 20;
  display: none;
}

.hamburger div {
  width: 2rem;
  height: 0.25rem;
  margin: 0 0.2rem;
  background-color: white; /* #8a2b06; by #156499;  #5a1a01; by #053a5e; */
  border-radius: 10px;
  transform-origin: 1px;
  transition: all 0.3s linear;
}

.hamburger.open {
  background-color: #156499;
  border-radius: 10%;
}
.hamburger.open div:nth-child(1) {
  transform: rotate(45deg);
}
.hamburger.open div:nth-child(2) {
  transform: translateX(100%);
  opacity: 0;
}
.hamburger.open div:nth-child(3) {
  transform: rotate(-45deg);
}

@media only screen and (max-width: 768px) {
  .hamburger {
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
  }
}
