.scroll-to-top {
  position: fixed;
  bottom: 12px;
  right: 2%;
  width: 40px;
  height: 40px;
  border-radius: 10%;
  background: #156499; /* #8a2b06; by #156499;  #5a1a01; by #053a5e; */
  color: #fff;
  z-index: 50;
}
.scroll-to-top .icon {
  margin-top: 10px;
  margin-left: 11px;
  font-size: 1.2rem;
  animation: scrollTop 0.5s alternate ease infinite;
}
@keyframes scrollTop {
  0% {
    transform: translateY(4px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-4px);
  }
}

.cursor-pointer {
  cursor: pointer;
}

.scroll-container {
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  height: 5px;
  z-index: 10;
}
.scroll-container .indicator {
  height: 100%;
  background: #053a5e;
}
